{% extends 'layout/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<style>
    .image-bg {
        background-image: url("{{camp.image.url}}");
        background-size: cover;
        aspect-ratio: 3/1;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if has_landing_page %}
    <div class="row">
        <div class="col-md-12">
            <div class="d-grid gap-2">
                <a href="{% url 'edit_campaign_landing' camp.slug %}" class="btn btn-light btn-lg my-3">
                    <div class="display-5">Edit Landing Page</div>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="d-grid gap-2">
                <a href="{% url 'create_campaign_landing' camp.slug %}" class="btn btn-light btn-lg my-3">
                    <div class="display-5">Create Landing Page</div>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row my-3">
        <div class="col-md-8 mx-auto">
            <div class="p-5 mb-4 bg-light rounded-3 image-bg">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">{{camp.name}}</h1>
                    <p class="col-md-8 fs-4">{{camp.description}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-md-8 mx-auto card">
            <h3 class="text-center">Tracked Lead</h3>
            <div class="table-responsive-lg card-body">
                <table class="table
            table-hover	
            table-borderless    
            align-middle">
                    <thead class="table-light">
                        <caption>Leads Data</caption>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">

                        {% for lead in leads %}
                        <tr class="table-primary">
                            <td scope="row">{{lead.id}}</td>
                            <td>{{lead.name}}</td>
                            <td>{{lead.email}}</td>
                            <td>{{lead.created_at.date}}</td>
                            <td><a href="{% url 'lead_details' camp.slug lead.id %}" class="btn btn-primary">View</a></td>
                        </tr>
                        {% empty %}
                        <tr class="table-primary">
                            <td colspan="5" scope="row">No Lead Yet</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-8 mx-auto card">
            <h3 class="text-center">Lead Conversion Status</h3>
            <div class="table-responsive-lg card-body">
                <table class="table
            table-hover	
            table-borderless    
            align-middle">
                    <thead class="table-light">
                        <caption>Conversion Status</caption>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Converted</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">

                        {% for lc in lead_conversion %}
                        <tr class="table-primary">
                            <td scope="row">{{lc.id}}</td>
                            <td>{{lc.lead.name}}</td>
                            <td>{{lc.lead.email}}</td>
                            <td>{{lc.converted}}</td>
                            <td>{{lc.converted_at}}</td>
                        </tr>
                        {% empty %}
                        <tr class="table-primary">
                            <td scope="row" colspan="5">No Lead Yet</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-8 mx-auto card">
            <div class="card-body">
                {{line_graph|safe}}
            </div>
        </div>
    </div>
   
</div>

{% endblock %}
{% block js %}{% endblock %}