{% extends 'layout/base_fullscreen.html' %}
{% load static %}
{% block css %}{% endblock %}
{% block content %}
<div class="w3-display-container w3-animate-opacity">
	<img src="https://images.unsplash.com/photo-1682686580224-cd46ea1a6950?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80"
	alt="boat" style="width:100%;min-height:550px;max-height:800px;">
	<div class="w3-container w3-display-bottomleft w3-margin-bottom">
		<button class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">Marketeer</button>
	</div>
</div>

<!-- Container -->
<div class="w3-container" style="position:relative">
	<a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
	style="position:absolute;top:-28px;right:24px">+</a>
</div>
<!-- First Photo Grid-->
<div class="w3-row-padding w3-padding-16 w3-center" id="food">
	
	{% for c in campaigns %}
	<div class="w3-quarter">
		<a href="{% url 'clicked_campaign' c.slug %}">
			<img src="{{c.image.url}}" alt="Sandwich" style="width:100%">
			<h3>{{c.name}}</h3>
			<p>{{c.description}}</p>
		</a>
	</div>
	{% empty %}
	<div class="w3-">
		<h3>No Campaigns</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ipsam error nulla nihil cupiditate!
			Consequuntur aliquam, odit iste non expedita ratione, possimus molestiae dolorem cumque porro minima vel
			quia laboriosam!</p>
		</div>
		{% endfor %}
		
	</div>
	
	{% endblock %}
	{% block js %}{% endblock %}